/*
 * wp-custom-admin
 *
 * Custom Boilerplate CSS for your WordPress Login Form
 * @since : 1.6
 *
 * @authors : chrisvanpatten and grayghostvisuals
 */

/* Main Body */
.login {
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}

#login {
	padding: 0;
}


/* login page links */
.login #login a {}
.login #login a:hover {}


/* login logo */
.login h1 {}
.login h1 a {}


/* login page primary button */
.login .button-primary {}
.login .button-primary:hover {}

#loginform {
	margin-top: 0;
}

#loginform,
#lostpasswordform {
	box-shadow: none;
}
#wp-submit {
	border-radius: 0;
	border: none;
}


/* login form labels */
.login label {}


/* login page form text and password inputs */
.login input {}
.login form input[type="text"] {}
.login form input[type="password"] {}


/* login form notification message */
.login .message {
	box-shadow: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-animation: fadeSlide .3s forwards ease-in;
	-moz-animation: fadeSlide .3s forwards ease-in;
	animation: fadeSlide .3s forwards ease-in;
	text-align: center;
	background: beige;
	opacity: 0;
}

/* login form error message */
#login  #login_error {
	box-shadow: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-animation: fadeSlide .3s forwards ease-in;
	-moz-animation: fadeSlide .3s forwards ease-in;
	animation: fadeSlide .3s forwards ease-in;
	text-align: center;
	background: rgb(245, 45, 45);
	color: whitesmoke;
	opacity: 0;
}

@-webkit-keyframes fadeSlide {
	to {
		opacity:1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeSlide {
	to {
		opacity:1;
		-moz-transform: translateY(0);
	}
}

@keyframes fadeSlide {
	to {
		opacity:1;
		transform: translateY(0);
	}
}

/* login page nav and back to blog links */
.login #nav {}
.login #backtoblog {
	display: none;
}