@charset "UTF-8";

// ------------------------------------------------------------------------------- */
// = $Imports
// ------------------------------------------------------------------------------- */

@import "compass";                  // compass

@import "imports/vars.scss";        // variables
@import "imports/mixins.scss";      // mixins
@import "imports/extends.scss";     // extends

@import "imports/resets.scss";      // html5boilerplate resets
@import "imports/wp-classes.scss";  // Wordpress Classes

@import "../webfonts/ss-social.css";   // social icons
@import "../webfonts/ss-standard.css"; // social standard icons


// ------------------------------------------------------------------------------- */
// = $Typography
// ------------------------------------------------------------------------------- */

// = $Global Typography
// ------------------------------------------------------------------------------- //

body {
    font: normal 100%/1.5 Georgia, "Times New Roman", Times, serif;
}


// = $Typekit Typography
// ------------------------------------------------------------------------------- //

.lt-ie9 .wf-loading body {
    font-family: Georgia, serif;
    visibility: hidden;
}

.lt-ie9 .wf-active body {
    font-family: "adobe-garamond-pro", serif;
    visibility: visible;
}


// = $Definition Lists Typography
// ------------------------------------------------------------------------------- //


dt {
    font-size: 1.5em;
    font-weight: bold;
}

dd {
    font-size: 1em; // 14 / 16
    line-height: 1.5;
}


// = $Headings Typography
// ------------------------------------------------------------------------------- //

h1,
h2,
h3,
h4,
h5,
h6 { 
    font-weight: 400;
}

h2 {
    font-size: 1.875em; // 30px / 16px = 1.875em
}

h3 {
    font-size: 1.500em; // 24px / 16px = 1.5em
}

h4 {
    font-size: 1.125em; // 18px / 16px = 1.125em
}

h5 {
    font-size: 0.875em; // 14px / 16px = 0.875em
}

h6 {
    font-size: 0.750em; // 12px / 16px = 0.75em
}


// = $Paragraphs Typography
// ------------------------------------------------------------------------------- //

p {
    font-weight: normal;
}

[role="main"] p {
    font-size: 1.75em;  //  28px / 16px = 1.75em
    line-height: 1.5;   // 28px * 1.5em = 42px
}


// = $Blockquote Typography
// ------------------------------------------------------------------------------- //

[role="main"] blockquote p {
    font-size: 1em;
}


// = $Banner Typography
// ------------------------------------------------------------------------------- //

header[role="banner"] {
    text-align: left;
}

.tagline {
    font-size: 1.165em;
    font-style: italic;
    font-weight: 400;
    text-align: right;
}


// = $Hero Quote Typography
// ------------------------------------------------------------------------------- //

#hero-quote {
    font-size: 1.75em;
    text-transform: uppercase;
}


// = $RSS Ribbon Typography
// ------------------------------------------------------------------------------- //

#rss {
    text-align: center;

    a {
        font-size: 1.5em;
    }
}


// = $Journal Entries Typography
// ------------------------------------------------------------------------------- //

#content article blockquote {
    font-family: "adobe-garamond-pro", serif;
    font-style: italic;
}

// article titles
article h1 {
    font-size: 2.25em; // 36px / 16px = 2.25em

    a {
        font-weight: 700;
    }
}


// = $Journal Entries Footer Typography
// ------------------------------------------------------------------------------- //

#comments-link {
    font-style: italic;
    text-align: center;
}

.taxonomy-title {
    text-align: center;

    b {
        font-size: 1.5em;
        line-height: 3.5;
    }
}

.taxonomies-list {
    text-align: center;
}


// = $Pagination Typography
// ------------------------------------------------------------------------------- //

// home page
.pagination {
    text-align: center;
}


// = $Read More Link Typography
// ------------------------------------------------------------------------------- */

.more-link {
    font-size: 1.5em; // 24px / 16px = 1.5em
}

.read-more {
    line-height: 3.33333333333333; // 80 / 24 = 3.33333333333333em
    text-align: center;
    text-decoration: none;
}


// = $Input & Forms Typography
// ------------------------------------------------------------------------------- //

label[for="s"] {
    font-style: italic;
}

#search-form input[type="text"],
#respond label,
#respond input,
#respond textarea {
    font-family: "adobe-garamond-pro", serif; 
    font-style: italic;
}


// = $Search Page Typography
// ------------------------------------------------------------------------------- */

.search {

    #thumbsdown {
        font-size: 2em;
        line-height: 3.5;
        text-align: center;
    }
}


// = $Footer Typography
// ------------------------------------------------------------------------------- //

footer[role="contentinfo"] {
    text-align: left;

    small {
        font-size: 100%;
    }
}

.socials.footer {

    ul {
        font-size: 1.5em;
    }
}


// ------------------------------------------------------------------------------- //
// = $LAYOUT
// ------------------------------------------------------------------------------- //

// = $Lists
// ------------------------------------------------------------------------------- //

ul,
ol {
    padding: $baseline;
}

// Reset all headings in ul list
// mainly for responsive images article
li {
    h3 {
        margin: 0;
        padding: 0;
    }
}


// = $Definition Lists
// ------------------------------------------------------------------------------- //

dl {
    dd {
        margin: ($baseline / 2) 0;
    }
}


// = $Blockquotes
// ------------------------------------------------------------------------------- //

blockquote {
    @include box-sizing(border-box);
    border: 1px solid #CCC;
    padding:  .75em 5.35715%;
}


// = $Stripe Module
// ------------------------------------------------------------------------------- //

.stripe {
    @extend .rule;
    position: relative;
    z-index: 0;
}


// = $Evernote Memory Button Layout
// ------------------------------------------------------------------------------- //

/*evernote clip button*/
.evernoteSiteMemory {
    height: 1.5em;
}

.evernoteSiteMemoryLinkText {
    margin-left: .5em;
}


// = $Header Layout
// ------------------------------------------------------------------------------- //

.blog-name {
    width: auto;
    display: inline-block;
    margin-top: ($baseline / 2);
    margin-bottom: 0;
}

.blog-uri {
    display: inline-block;
}

.logo {
    width: 72px;
    height: 72px;
    padding-bottom: .75em;
}

.tagline {
    margin: 0;
}


// = $RSS Ribbon Layout
// ------------------------------------------------------------------------------- //

#rss {
    position: absolute;
    top: 0;
    right: 18.44958515%;
    width: 4.375em;
    height: 6em;

    &:hover {
        cursor: pointer;
    }

    a {
        position: relative;
        top: 25%;
    }
}


// = $Socials Header Module
// ------------------------------------------------------------------------------- //

.socials.header {
    list-style-type: none;
    padding: 0;
    text-align: right;

    li {
        display: inline-block;
    }
}


// = $Entry Meta Module Layout
// ------------------------------------------------------------------------------- //

// entry meta info
.meta {
    margin-bottom: 1.5em;
    padding: ($baseline / 2);
    position: relative;
    max-width: 12.994546937436em;
    width: 12.994546937436%;

    span {
        display: block;
    }
}

.meta-data {
    display: inline-block;
}


// = $Entry Taxonomy Module Layout
// ------------------------------------------------------------------------------- //

.taxonomytags,
.taxonomycats {
    @extend .rule;
}

.taxonomies-list {
    @extend .list-reset;
    padding-top: 0;
}

.taxonomy-title {
    b {
        @extend .tag-syle;

        &:after {
            @extend .after-tag-style;
        }
    }
}


// = $Archives/Categories Page Layout
// ------------------------------------------------------------------------------- //

.archive,
.category {
    .entry-item {
        @extend .rule;
        padding-bottom: 1.5em;
    }
}

.list-reset.category-archives,
.list-reset.archive-archives {
    padding: 0;
}


// = $Search Page Layout
// ------------------------------------------------------------------------------- //

.search #content {
    li {
        @extend .rule-sidebar;
        padding-top: 1.5em;
        padding-bottom: 1.5em;

        &:first-child {
            @extend .rule;
        }
    }
}


// = $Input & Forms Layout
// ------------------------------------------------------------------------------- //

#search-form {
    text-align: left;
    padding-bottom: $baseline;
    position: absolute;
    top: $baseline;
    right: 20.44958515%;
    width: 21.491820406154em; //21.491820406154%;

    input {
        display: inline-block;
        width: 100%;
        padding: ($baseline / 2);
    }

}

label[for="s"] {
    display: inline-block;
}

input,
textarea {
    border: 1px solid #ddd;
    padding: $baseline;

    &:hover {
        border: 1px solid #ccc;
    }

    &:focus {
        border: 1px solid #ccc;
    }
}


// = $Blog Articles Layout
// ------------------------------------------------------------------------------- //

#article-links {
    list-style-type: none;
    padding: 0;

    b[class="ss-icon"] {
        display: inline-block;
        margin-right: .75em;
    }
}


// = $Hero Quote Layout
// ------------------------------------------------------------------------------- //

#hero-quote {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: .75em;

    p {
        border-top: 1px solid #C9C9C9;
        border-bottom: 1px solid #C9C9C9;
        padding: .75em 0;
    }

    small {
        padding-left: .75em;
        padding-right: .75em;
        position: absolute;
        bottom: -.5em;
        left: 42.5208687%;
        bottom: 1.75em;

        cite {
            display: block;
        }
    }
}


// = $Read More Button Module Layout
// ------------------------------------------------------------------------------- //

.more-link {
    display: block;
    margin: 0 auto;
    width: 3em; // 72 / 24px = 3em
}

.read-more {
    border: solid 1px transparent;
    display: block;
    height: 3em;        // 72 / 24px = 3em
    margin: $baseline auto;
    position: relative;
    width: 3em;         // 72 / 24px = 3em

    &:after {
        border-top: 2px solid #ddd;
        content: "";
        display: block;
        position: absolute;
        top: -.75em;    // 18px / 24px = .75em 
        left: -.75em;   // 18px / 24px = .75em
        bottom: -.75em; // 18px / 24px = .75em
        right: -.75em;  // 18px / 24px = .75em
        z-index: -1;
    }

    &:active {
        border: solid 1px #a7a7a7;
    }
}

.active {
    border: solid 1px #a7a7a7;
}


// = $Pagination Layout
// ------------------------------------------------------------------------------- //

.pagination {
    display: block;
    padding: ($baseline / 2) 0 ($baseline * 2);

    .page-numbers.current {
        border-color: #CCC;
    }
}

.page-numbers {
    border: .0875em solid #DDD;
    display: inline-block;
    padding: .5em 1em;
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover {
        border-color: #CCC;
    }
}

.nxt {
    position: absolute;
    right: 0;
}


// = $Comments Layout
// ------------------------------------------------------------------------------- //

#comments-count {
    b {
        font-size: 1.5em;
    }
}

#comments-link {
    display: block;

    b {
        display: block;
    }
}

#commentform {
    #submit {
        border: solid 1px transparent;
        display: block;
        line-height: ($baseline * 2);
        position: relative;
        text-align: center;
        text-decoration: none;

        &:hover {
            opacity: 1;
        }
    }
}


// = $Sidebar Layout
// ------------------------------------------------------------------------------- //

.widget {
    float: left;
    padding-bottom: $baseline;
    width: 33.3333333333333%;

    ul {
        list-style-type: none;
        margin-bottom: 0;
        padding: 0;

        li {
            border-bottom: 1px solid lighten(#C9C9C9,5%);
            margin-bottom: ($baseline / 2);
            margin: 0 5% 0 0;
        }
    }
}


// = $Single Page Pagination Layout
// ------------------------------------------------------------------------------- //

.single {
    .meta {
        width: 7.375em;
    }
}

.single-pagination {
    overflow: auto;
    position: relative;

    a {
        display: inline-block;
        padding: ($baseline / 2) .25em;
        width: auto;
    }

    [class|="ss"] {
        border: .75em solid white;
        display: inline-block;
        height: 2.75em;
        width: 2.75em;

        line-height: 3;
        text-align: center;
    }
}


// = $Search Entry Module
// ------------------------------------------------------------------------------- //

.search .entry-item {
    position: relative;
}


// = $Search Results Error Module
// ------------------------------------------------------------------------------- //

.search {

    #thumbsdown {
        background: #dd4b2a;
        color: #8f0201;
        border: .1875em solid #d62600;
        width: 3em;
        height: 3em;
        margin: 0 auto;
    }
}


// = $Comment Response Layout
// ------------------------------------------------------------------------------- //

#respond {
    padding-bottom: 1.5em;

    input,
    textarea {
        width: 100%;
    }
}


// = $Footer Layout
// ------------------------------------------------------------------------------- //

footer[role="contentinfo"] {
    @extend .rule;
    padding: 3em $tab-gutter;
    position: relative;
}


// = $Footer Socials Module
// ------------------------------------------------------------------------------- //

.socials.footer {
    position: absolute;
    top: 3em;
    right: $tab-gutter;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
        }
    }
}


// ------------------------------------------------------------------------------- */
// = $Color
// ------------------------------------------------------------------------------- */

// = $Global Color
// ------------------------------------------------------------------------------- //

body {
    background: #C9C8C8 url(../img/lghtmesh.png) top left repeat;
    color: #666;
}

blockquote {
    background: #dadada;
}


// = $Global Headings Color
// ------------------------------------------------------------------------------- //

h1 {
    color: $header-color;
}

h2 {
    color: lighten($header-color, 10%);
}

h3 {
    color: lighten($header-color, 20%);
}

h4 {
    color: lighten($header-color, 30%);
}

h5 {
    color: lighten($header-color, 40%);
}

h6 {
    color: lighten($header-color, 50%);
}


// = $Code Block Color
// ------------------------------------------------------------------------------- //

pre,
code {
    background: white;
    color: purple;
}


// = $Lists Color
// ------------------------------------------------------------------------------- //

ul,
ol {
    color: #999;
}


// = $Definition Lists Color
// ------------------------------------------------------------------------------- //

dl {
    dd {
        color: #666;
    }
}


// = $Stripe Module Color
// ------------------------------------------------------------------------------- //

.home .stripe {
    background: #f9f9f9;
}

.stripe-sidebar {
    @extend .rule;
}

.single .stripe,
.archive .stripe,
.search .stripe,
.error404 .stripe {
    background: #f9f9f9;
}


// = $Header Color
// ------------------------------------------------------------------------------- //

header[role="banner"] {
    > h2 {
      color: #666;
    }
}


.ie-logo {
    display: inline-block;
    background: url(../img/blogbadge72x72.png) top left no-repeat;
    width: 72px;
    height: 72px;
    text-indent: -999em;
}


// = $RSS Ribbon Color
// ------------------------------------------------------------------------------- //

#rss {

    a {
        color: #8f0201;

        &:hover {
            color: lighten(#8f0201,15%);
        }
    }

    background: $rss-ribbon;
}


// = $Hero Quote Color
// ------------------------------------------------------------------------------- //

#hero-quote {
    background: transparent;
    color: #B3B3B3;

    small {
        background: url(../img/lghtmesh.png) top left repeat;
    }

    b {
        color: #DDD;
    }

    cite {
        color: lighten(#444, 20%);
    }
}


// = $Read More Button Color
// ------------------------------------------------------------------------------- //

.read-more {
    background: #f7f7f7;
    color: #c80000;
    &:after {
        background: #fff;
    }
}


// = $Pagination Color
// ------------------------------------------------------------------------------- //

.pagination {
    background: #f9f9f9;

    .page-numbers {
            background-color: #f7f7f7;

        &:after {
            background: #f9f9f9;
        }

        &:hover {
            background: lighten(#f0f0f0,20%);
            color: maroon;
        }
    }

    .page-numbers.current {
        background: #FFF;
        color: maroon;
    }
}


// = $Search Form Color
// ------------------------------------------------------------------------------- //

label[for="s"] {
    color: darken(#C9C8C8,15%);
}

//search form
#search-form {
    input[name="s"] {
        background: #fafafa;
        color: $placeholder-txt-color;

        &:hover {
            background: lighten(#fafafa,5%);
        }

        &:focus,
        &:active {
            background: lighten(#fafafa,10%);
        }
    }
}


// = $Form Inputs Color
// ------------------------------------------------------------------------------- //

input,
textarea {
    background: #fafafa;

    &:focus,
    &:hover {
        background: lighten(#fafafa,10%);
    }
}


// = $Entry Articles Color
// ------------------------------------------------------------------------------- //

#article-links {
    li {
        h3 {
            color: $base-white;
        }
    }
}


// = $Comments Color
// ------------------------------------------------------------------------------- //

#commentform #submit {
    background: #f4f4f4;
    color: #a7a7a7;

    &:hover {
        background: lighten(#f4f4f4,10%);
    }

    &:active {
        border: solid 1px #a7a7a7;
    }
}

.ss-alert {
    color: #b34532;
}


// = $Footer Color
// ------------------------------------------------------------------------------- //

footer[role="contentinfo"] {
    background: #C9C8C8 url(../img/irongrip.png) top left repeat;

    a {
        color: #f4f4f4;
    }
}


// ==========================================================================
// Helper classes
// ==========================================================================

///*
// * Image replacement
// */

.ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

///*
// * Hide from both screenreaders and browsers: h5bp.com/u
// */

.hidden {
    display: none !important;
    visibility: hidden;
}

///*
// * Hide only visually, but have it available for screenreaders: h5bp.com/v
// */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

///*
// * Extends the .visuallyhidden class to allow the element to be focusable
// * when navigated to via the keyboard: h5bp.com/p
// */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

///*
// * Hide visually and from screenreaders, but maintain layout
// */

.invisible {
    visibility: hidden;
}

///**
// * Clearfix helper
// * Used to contain floats: h5bp.com/q
// */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

///*
// * For IE 6/7 only
// * Include this rule to trigger hasLayout and contain floats.
// */

.clearfix {
    *zoom: 1;
}


// ==|== print styles =======================================================
// Print styles.
// Inlined to avoid required HTTP connection: h5bp.com/r
// ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}