// Singularity
@include sgs-change('mobile first', true);
@include add-grid(12 at $grid-9-3);
@include add-grid(5);

// Width in relation to a column of 1. 3 gutters make 1 column
// @include add-gutter(.25 at 900px);
@include add-gutter(1/3);

// [opposite] : Flush on either side of the container.
// [split]    : 1/2 gutter width. Splits gutter on either side of columns.
@include add-gutter-style('split');
@include add-gutter-style('opposite' at $grid-9-3);

// Background Grid
// https://github.com/Team-Sass/Singularity/wiki/Creating-Grids#visualizing-your-grids
@include sgs-change('debug', false);

.grid {
	@extend .clearfix;
	@include background-grid($color: $bg-grid-color);
}

.col-5-1 {
	@include grid-span(5, 1); // span 5 columns, start at 1st column.
}

.col-9-3 {
	@include breakpoint($grid-9-3) {
		@include grid-span(9, 3); // span 9 columns, start at 3rd column.
	}
}

.col-6-4 {
	@include breakpoint($grid-6-4) {
		@include grid-span(6, 4); // span 6 columns, start at 4th column.
	}
}