// Singularity
@include sgs-change('mobile first', true);
@include add-grid(12 at $grid12);
@include add-grid(5);

// Width in relation to a column of 1. 3 gutters make 1 column
@include add-gutter(1/3);

// [opposite] : Flush on either side of the container.
// [split]    : 1/2 gutter width. Splits gutter on either side of columns.
@include add-gutter-style('opposite');

// Background Grid
// https://github.com/Team-Sass/Singularity/wiki/Creating-Grids#visualizing-your-grids
@include sgs-change('debug', true);

.grid {
	@extend .clearfix;
	@include background-grid($color: $bg-grid-color);
}

.col-2 {
	@include grid-span(5, 1);
	@include breakpoint($grid12) {
		@include grid-span(6, 4); // span 4 columns, start at 5th column.
	}
}