/* =============================================================================
   Required WordPress Styles
   ========================================================================== */

/*
* WordPress Required
*
* @since 1.0.6
* Generated Core Classes
* Each Theme should have these or similar styles in its style.css file
* in order to display images and captions properly.
* http://codex.wordpress.org/CSS#WordPress_Generated_Classes
*/

.sticky {}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
	display:block;
	margin: 5px auto 5px auto;
}

.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

.alignnone {
	clear: both;
	margin: 5px 20px 20px 0;
}

.alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin:0;
	max-width: 98.5%;
	padding:0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}

.gallery-caption {}


/*
* stops too many categories from breaking the layout
*/
.entry-tags-list li,
.entry-categories-list li {
	display: inline-block;
}


.bypostauthor {}



/* =============================================================================
   WordPress Generated - Extra Styling Classes for Authors
   http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

/* Fluid Images For Wordpress */
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

.wp-caption,
.wp-caption img {
	max-width: 100%;
}

img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}


.cat-item {}
.cat-item.current-cat {}

.cat-item a:hover {}
.cat-item.current-cat a:hover {}

.cat-item a {}
.cat-item.current-cat a {}


.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}


.widget {}


.wp-post-image {}
.attachment-thumbnail {}
.attachment-medium {}
.attachment-large {}
.attachment-full {}


.error404 {}


.more-link {}
.posttitle {}



/* =============================================================================
   WordPress Comments
   ========================================================================== */

/*
* 2.0 Comment Styling Classes
*
* Built on the shoulders of Chris Coyier and Chris Harrison's awesome work
* http://cdharrison.com/2008/12/03/threaded-comments
* http://css-tricks.com/snippets/wordpress/base-threaded-comments-styling
*/

.commentlist,
.commentlist ul,
.commentlist .children {
	padding: 0;
	list-style-type: none
}

.commentlist {
	border-top: 6px dotted red;
	padding: 1.65em 0 0;
}

.comment {
	@media screen and (min-width: 78.75em) {
		position: relative;
	}

	.avatar {
		display: block;
		border-radius: 80%;
		border: 6px solid #831400;
		display: inline-block;
		margin: 0 1em 1em 0;
		background: white;

		@media screen and (min-width: 78.75em) {
			border-radius: 80%;
			border: 6px solid #FA0000;
			display: inline-block;
			margin: 0 1em 1em 0;
			background: white;
			position: relative;
			float: left;
			margin-left: -170px;
			margin-top: 18px;
		}
	}

	.comment-meta {
		background: #140202;
		color: #FFF;
		padding: .5em 2%;
		font-size: small;
		text-align: right;
	}

	.comment-body {
		padding: 5%;
		position: relative;
		background: #b81800;
		color: #E2DCDC;
		&:before {
			content: "";
			width: 0px;
			height: 0px;
			display: block;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom: 25px solid #b81800;
			position: absolute;
			top: -25px;
			left: 0;
		};

		blockquote {
			border-left: 6px solid #000;
			p {
				padding-left: 24px;
			}
		}
	}

	.comment-text {
		p {
			& + p {
				text-indent: 0;
				margin-top: #{$line-height/2}em
			}
			&:first-child {
				&:before {
					content: "“";
					display: inline-block;
					text-indent: -.675em;
				}
			}
			&:last-child {
				&:after {
					content: "”";
					display: inline-block;
					text-indent: .25em;
				}
			}
		}
	}

	.reply {
		padding: #{$line-height/2}em 0;
		text-align: right;
	}
}

.comment-vcard {
	&:before {
		@media screen and (min-width: 78.75em) {
			margin-left: -50px;
			content: "";
			display: block;
			width: 132px;
			height: 132px;
			background: transparent;
			position: absolute;
			z-index: 0;
			border-radius: 100%;
			top: 0px;
			left: -137px;
			border: 6px solid #FA0000;
			background: rgb(46, 44, 44);
		}
	}
}

.comment.bypostauthor {

	>	.comment-vcard {
			.comment-meta {
				background: maroon;
			}
		}

	> .comment-body {
		background: #000;
		&:before {
			content: "";
			width: 0px;
			height: 0px;
			display: block;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom: 25px solid #000;
			position: absolute;
			top: -25px;
			left: 0;

			.comment-text {
				h3 { color: maroon; }
				a { color: orange; }
			}
		}
	}
}

.comment.depth-1 {
	border-bottom: 3px dotted rgba(10, 10, 10, 0.1);
	margin-bottom: 3em;
}

ol.commentlist li.comment.even {}
ol.commentlist li.comment.odd {}

.comment {
	.children {
		list-style: none;
		text-indent: 0;
		&:before {
			content: "↑";
			display: block;
			text-align: center;
			background: black;
			width: 2em;
			margin: #{$line-height/2}em auto;
			height: 2em;
			line-height: 2.25;
			border-radius: 80%;
			color: white;
		}
	}
}

.comment.thread-alt {}
.comment.thread-even {}
.comment.thread-odd {}

ol.commentlist li.comment ul.children li.depth-1 {
	background: red;
}
ol.commentlist li.comment ul.children li.depth-2 {
	margin: 0 0 .25em .25em;
}
ol.commentlist li.comment ul.children li.depth-3 {
	margin: 0 0 .25em .25em;
}
ol.commentlist li.comment ul.children li.depth-4 {
	margin: 0 0 .25em .25em;
}
ol.commentlist li.comment ul.children li.depth-5 {}

#commentform {
	width: 100%;
	p + p {
		margin-top: auto;
		text-indent: 0;
	}
	input {
		display: block;
	}
	#submit {
		border: solid 1px transparent;
		display: block;
		text-align: center;
		text-decoration: none;
		padding: #{$line-height/2}em;
	}
}

.form-allowed-tags {
	code {
		display: block;
		font-size: .875em;
		color: #248bd1;
	}
}

.moderating,
.nocomments {
	color: red;
	text-align: center;
	text-shadow: none;
}

#respond {
	padding: #{$line-height}em 0;
}


/* =============================================================================
   WP-Flex Custom Styles
   ========================================================================== */
/**
* WP-Flex Styling Modules
*
* Use these custom Classes as helpers for your styling needs and based on
* the classes written by this theme. These are not provided by WordPress
*/
.blogname {}
.tagline {}
.menu {}
.page-title{}
.entry-title {}
.meta {}
.entry-footer {}
.comments-count {}
.comments-count-number {}
.entry-taxonomies {}
.entry-tags-list {}
.entry-tags {}
.entry-categories-list {}
.entry-categories {}
.pagination {}
.pagination.single {}
#sidebar {}