// =WordPress Required - Generated Core Classes
//  http://codex.wordpress.org/CSS#WordPress_Generated_Classes
//------------------------------------------------------------------------------- //

//.sticky {}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
	display:block;
	margin: 5px auto 5px auto;
}

.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

a img.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin:0;
	max-width: 98.5%;
	padding:0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}

//.gallery-caption {}

/* stops too many categories from breaking layout */
.tags,
.cats {
	ul li {
		display: inline;
	}
}


/* =WordPress - Additional Styling Classes
	http://codex.wordpress.org/CSS#WordPress_Generated_Classes
------------------------------------------------------------------------------- */

/**** Wordpress Fluid Images */
img[class*="align"],
img[class*="wp-image-"] {
	/* Make sure images with WordPress-added height and width attributes are scaled correctly */
	height: auto
}

.wp-caption,
.wp-caption img {
	max-width: 100%
}

img.size-full {
	max-width: 100%;
	/* Prevent stretching of full-size images with height and width attributes in IE8 */
	width: auto
}
/**** END Wordpress Fluid Images */
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0
}

/* widget styling */
//.widget {}


/* WP POST THUMBNAILS */
//img.wp-post-image {}
//img.attachment-thumbnail {}
//img.attachment-medium {}
//img.attachment-large {}
//img.attachment-full {}

/* WP TAGS AND CATEGORIES */
#taxonomies {
	list-style-type: none;
	padding: 0;
}
.tags ul,
.cats ul {
	padding: 0;
}
//.tags {}
//.cats {}

/* WP 404 ERRORS */
//.error404 {}


/* WP PAGE CONTENT */
//.more-link {}
//.posttitle {}

/* WP PAGINATION */
//a.page-numbers {}
//a.prev.page-numbers {}
//a.next.page-numbers {}


/*
* 2.0 Comment Styling Classes
*
* Built on the shoulders of Chris Coyier and Chris Harrison's awesome work
* http://cdharrison.com/2008/12/03/threaded-comments
* http://css-tricks.com/snippets/wordpress/base-threaded-comments-styling
*/

// =======================================================
// $Comment List
// =======================================================

/* comments list reset */
.commentlist,
.commentlist ul,
.commentlist .children {
	padding: 0;
	list-style-type: none
}

.commentlist {
	border-top: 6px dotted red;
	padding: 1.65em 0 0;
}


// =======================================================
// $Comment Globals
// =======================================================

.comment {
	//padding: #{$line-height/2}em #{$line-height/2}em 0;
	@media screen and (min-width: 78.75em) {
		position: relative;
	}
	// avatar
	.avatar {
		display: block;
		border-radius: 80%;
		border: 6px solid #831400;
		display: inline-block;
		margin: 0 1em 1em 0;
		background: white;
		// media query 78.775em
		@media screen and (min-width: 78.75em) {
			border-radius: 80%;
			border: 6px solid #FA0000;
			display: inline-block;
			margin: 0 1em 1em 0;
			background: white;
			position: relative;
			float: left;
			margin-left: -170px;
			margin-top: 18px;
		}
	}
	// Comment Meta
	.comment-meta {
		background: #140202;
		color: #FFF;
		padding: .5em 2%;
		font-size: small;
		text-align: right;
	}
	// Comment Body
	.comment-body {
		padding: 5%;
		position: relative;
		background: #b81800;
		color: #E2DCDC;
		&:before {
			content: "";
			width: 0px;
			height: 0px;
			display: block;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom: 25px solid #b81800;
			position: absolute;
			top: -25px;
			left: 0;
		};
		// Blockquotes
		blockquote {
			border-left: 6px solid #000;
			p {
				padding-left: 24px;
			}
		}
	}
	// Comment Text
	.comment-text {
		p {
			& + p {
				text-indent: 0;
				margin-top: #{$line-height/2}em
			}
			&:first-child {
				&:before {
					content: "“";
					display: inline-block;
					text-indent: -.675em;
				}
			}
			&:last-child {
				&:after {
					content: "”";
					display: inline-block;
					text-indent: .25em;
				}
			}
		}
	}
	// Comment Reply Link
	.reply {
		padding: #{$line-height/2}em 0;
		text-align: right;
	}
}

.comment-vcard {
	&:before {
		@media screen and (min-width: 78.75em) {
			margin-left: -50px;
			content: "";
			display: block;
			width: 164px;
			height: 164px;
			background: transparent;
			position: absolute;
			z-index: 0;
			border-radius: 100%;
			top: 0px;
			left: -137px;
			border: 6px solid #FA0000;
		}
	}
}


// =======================================================
// $Comment Admin
// =======================================================

.comment.bypostauthor {
	// comment vCard
	>	.comment-vcard {
			.comment-meta {
				background: maroon;
			}
		}
	// Comment body
	> .comment-body {
		background: #000;
		&:before {
			content: "";
			width: 0px;
			height: 0px;
			display: block;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom: 25px solid #000;
			position: absolute;
			top: -25px;
			left: 0;
			// comment text
			.comment-text {
				h3 { color: maroon; }
				a { color: orange; }
			}
		}
	}
}


// =======================================================
// $Comment Depth
// =======================================================

.comment.depth-1 {
	border-bottom: 6px dotted rgba(10, 10, 10, 0.1);
	margin-bottom: 1.65em;
}


// =======================================================
// $Comment Even/Odd
// =======================================================

//ol.commentlist li.comment.even {}
//ol.commentlist li.comment.odd {}


// =======================================================
// $Comment Children
// =======================================================

.comment {
	.children {
		list-style: none;
		text-indent: 0;
		&:before {
			content: "↑";
			display: block;
			text-align: center;
			background: black;
			width: 2em;
			margin: #{$line-height/2}em auto;
			height: 2em;
			line-height: 2.25;
			border-radius: 80%;
			color: white;
		}
	}
}


// =======================================================
// $Comment Thread
// =======================================================

.comment.thread-alt {
	// background: #F3F3F3;
	// box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.14);
}
//.comment.thread-even {}
//.comment.thread-odd {}


// =======================================================
// $Comment Children Depth
// =======================================================

ol.commentlist li.comment ul.children li.depth-1 {
	background: red;
}
ol.commentlist li.comment ul.children li.depth-2 {
	margin: 0 0 .25em .25em;
}
ol.commentlist li.comment ul.children li.depth-3 {
	margin: 0 0 .25em .25em;
}
ol.commentlist li.comment ul.children li.depth-4 {
	margin: 0 0 .25em .25em;
}
ol.commentlist li.comment ul.children li.depth-5 {}


// =======================================================
// $Comment Form
// =======================================================

#commentform {
	width: 100%;
	p + p {
		margin-top: auto;
		text-indent: 0;
	}
	input {
		display: block;
	}
	#submit {
		border: solid 1px transparent;
		display: block;
		text-align: center;
		text-decoration: none;
		padding: #{$line-height/2}em;
		//&:hover {}
	}
}

// form allowed tags
.form-allowed-tags {
	code {
		display: block;
		font-size: .875em;
		color: #248bd1;
	}
}


// =======================================================
// $Comment Moderation
// =======================================================

// moderation response text class provided via comments.php line#48
// no user comments styling class provided via comments.php line#69
.moderating,
.nocomments {
	color: red;
	text-align: center;
	text-shadow: none;
}

/*
 * response form container
 * keep this consistent for comment form
 * everytime a user clicks reply to a thread
 * the comment form that appears contains these very
 * styles defined below
 *
 */
#respond {
	padding: #{$line-height}em 0;
}
//#reply-title {}


// =======================================================
// $Comment Pagination
// =======================================================

// comments pagination
//div.comment-pagination {}
//span.prev-comments-link {}
//span.nxt-comments-link {}