//======================================== tag styles

.tag-syle {
  border: 1px solid #E7E7E7;
  border-radius: 10%;
  display: block;
  width: 3em;
  height: 3em;
  margin: 0 auto ($baseline / 2);
  position: relative;
  z-index: 0;
}

.after-tag-style {
  border-radius: 0 0 50% 50%;
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


//======================================== rule dividers

.rule {
  border-top: 1px solid #C9C9C9;
  box-shadow: inset 0 1px 1px rgba(255,255,255,.9);
}

.rule-sidebar {
  border-bottom: 1px solid #C9C9C9;
  box-shadow: 0 1px 1px rgba(255,255,255,.9);
}