#article-links {
	list-style-type: none;
	padding-left: 0;

	li {
		display: table;

		a {
			display: table-cell;
			vertical-align: middle;
		}

		&:before {
			border: 1px solid lightgrey;
			border-radius: 4px;
			content: " ";
			display: block;
			margin-right: 6px;
			width: 24px;
			height: 24px;
			background: #F4F5F6 image-url("icon_link.svg") center center;
			background-size: 20px 20px;
		}

		.ss-icon {
			display: none;
		}
	}
}