.featimg--bg {
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    opacity: 0;
    transition: .3s all ease-in-out;
    opacity: 1;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.65);
    }
}

.featimg--bg-small {
    display: none;
}
