#fusionads {
    padding: 40px 0 30px;

    @media screen and (min-width: $grid-9-3) {
        width: 130px;
        padding: 60px 0;
    }
    .cssanimations & {
        opacity: 0;
        @include animation(.3s forwards fadeIn ease);
    }
}

@include keyframes(fadeIn) {
    to { opacity: 1; }
}

#fusionads a {
    display: block;
    text-decoration: none;
    @media screen and (max-width: $grid-9-3) {
        display: table-cell;
        vertical-align: middle;
    }
}

.fusion-wrap {
    display: table;
    width: 100%;
    margin-bottom: 0.5rem;
}

.fusion-img {
    height: 100px;
    width: 130px;
}

.fusion-text {
    padding: 0.67rem;
    font-size: .70rem;
    color: #7a7a7a;
    line-height: 1.4;
    text-align: center;
    // $normal, $hover, $active, $visited, $focus
    @include link-colors(#7a7a7a, #7a7a7a, #7a7a7a, #7a7a7a, #7a7a7a);
    background: #f2f2f2;

    @media screen and (min-width: $grid-9-3) {
        display: block;
        width: 100%;
        text-align: left;
    }

    @media screen and (min-width: $grid-6-4) {
        padding: 0.75rem;
    }
}

.fusion-poweredby {
    display: block !important;
    width: 100%;
    font-size: .6rem;
    line-height: 1.25;
    text-align: left;
    @media screen and (min-width: $grid-9-3) {
        text-align: center;
    }
}