.branding {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	.bg-feat & {
		height: 500px;
	}

	.no-feat-bg & {
		height: 500px;
		background: #252525 url(http://subtlepatterns.com/patterns/cartographer.png) top left repeat;
	}

	.index & {
		height: 100%;
	}
}

.tagline {
	color: white;
}