.branding {
	@extend %flexbox;
	@include align-items(center);
	@include flex-direction(column);
	@include justify-content(center);

	.bg-feat & {
		height: $header-height;
	}

	.no-feat-bg & {
		height: $header-height;
		background: $no-feat-bg url(http://subtlepatterns.com/patterns/cartographer.png) top left repeat;
	}

	.index & {
		height: 100%;
	}
}

.tagline {
	font-size: 30.6667px;
	text-align: center;
	color: white;
	span {
		font-style: italic;
		font-size: 27px;
		color: gray;
	}
}