.profile {
  @extend %flexbox; // set at 590px
  @include flex-direction(column);
  margin: 54px 0 24px;
	padding: 24px;
	position: relative;
  background: rgba(1, 57, 95, 0.03);

  @include breakpoint($avatar-column) {
    @include flex-direction(row);
  }

	&__avatar {
    flex: 3;
    margin-right: 18px;
		margin-bottom: 24px;
    min-width: 180px;
    min-height: 180px;
	}
  &__meta {
    flex: 7;
    margin-bottom: 24px;
  }
}