#search-form {
    @extend %flexbox;
    @include align-items(center);

    @include breakpoint($utility-nav-columns) {
        @include flex-direction(column);
        padding: 12px 0;
    }

    @include breakpoint($utility-nav-rows) {
        @include flex-direction(row);
        @include flex(1);
    }

    label {
        margin-right: 6px;
        font-family: 'Avenir LT W01_35 Light';
        color: #8BB6D0;
        &:after {
            content: ": ";
        }
    }
}


input[type="search"] {
    display: inline-block;
    padding: 6px 12px;
    width: auto;
    font-size: smaller;
    background: $search-input-bg;
    color: $search-input-color;

    &:focus {
        outline: none;
    }
}