.tagline {
    padding: 0 6px;
    font-size: 30.6667px;
    line-height: 1.333;
    text-align: center;
    color: white;
    span {
        font-style: italic;
        font-size: 27px;
        font-weight: 300;
        color: $silver-chalice;
    }
}