.tagline {
    font-size: 30.6667px;
    line-height: 1.333;
    text-align: center;
    color: #4592B8;

    .bg-feat & {
        color: white;
        span {
            color: #79A9C8;
        }
    }

    span {
        font-family: 'Ciutadella W04 Medium';
        font-size: 27px;
    }
}