.tagline {
    @extend .visuallyhidden;
    font-size: 30.6667px;
    line-height: 1.333;
    text-align: center;
    color: #FB7D00;
    color: rgba(#FB7D00, 0.52);

    .bg-feat & {
        color: white;
        span {
            color: #79A9C8;
        }
    }

    span {
        font-family: 'Ciutadella W04 Medium';
        font-size: 27px;
    }
}