.utility-bar {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	width: 100%;
	z-index: 1;

	@include breakpoint($utility-nav-rows) {
		background: rgba(255, 255, 255, 0.13);
		@include transition(transform .3s ease-in-out);
		@include transform(translateY(-100%));
	}

	@include breakpoint($utility-nav-columns) {
		height: 100%;
	}

	&.active {
		@include breakpoint($utility-nav-rows) {
			@include transform(translateY(0));
		}
	}
}


.utility-bar__items {
	@extend %flexbox;
	@include flex-direction(column);
	padding: 12px;

	@include breakpoint($utility-nav-columns) {
		@include transform(translateX(-100%));
		@include transition(transform .3s ease-in-out);
		height: 100%;
		padding-top: 54px;
		background: rgba(0,0,0,0.95);
	}

	@include breakpoint($utility-nav-rows) {
		@include flex-direction(row);
	}

	&.active {
		@include breakpoint($utility-nav-columns) {
			@include transform(translateX(0));
		}
	}

	a {
		font-size: 24px;
		color: white;
	}
}


.utility-bar__toggle {
	display: table;
	padding: 12px;
	position: absolute;
	// goldenrod
	// ghostwhite
	// lightsalmon
	@include link-colors(grey, grey, grey, grey, grey);
	font-size: 21.555px;

	@include breakpoint($utility-nav-columns) {
		top: 0;
	}

	.ss-icon {
		display: table-cell;
		vertical-align: middle;
		padding-right: 5.333px;
		color: #E9D0CA;
	}
}


a[href*="#info"] {
	@extend %flexbox;
	@include align-items(center);
	@include justify-content(center);
	padding-left: 12px;
	text-transform: capitalize;

	@include breakpoint($utility-nav-columns) {
		border: 2px solid rgba(255, 255, 255, 0.22);
		padding: 12px 0;
	}
}