.utility-bar {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	width: 100%;
	z-index: 1;

	@include breakpoint($utility-nav-rows) {
		background: rgba(255, 255, 255, 0.13);
		@include transition(transform .3s ease-in-out);
		@include transform(translateY(-100%));

		// JS OFF
		&:target {
			@include transform(translateY(0));
		}
	}

	@include breakpoint($utility-nav-columns) {
		height: 100%;

		// JS OFF
		&:target {
			.utility-bar__items {
				@include transform(translateX(0));
			}
		}
	}
}


.utility-bar__items {
	@extend %flexbox;
	@include flex-direction(column);
	padding: 12px;

	@include breakpoint($utility-nav-columns) {
		@include transform(translateX(-100%));
		@include transition(transform .3s ease-in-out);
		height: 100%;
		padding-top: 54px;
		background: rgba(#004069,0.95);
	}

	@include breakpoint($utility-nav-rows) {
		@include flex-direction(row);
	}

	a {
		font-size: 18px;
		color: white;

		&:after {
			@include breakpoint($utility-nav-rows) {
				content: "/";
				margin-left: 10px;
			}
		}
	}

	a[href="#info"] {
		&:after {
			@include breakpoint($utility-nav-rows) {
				content: "";
			}
		}
	}
}


.utility-bar__toggle {
	display: table;
	padding: 12px;
	position: absolute;
	font-size: 21.555px;

	@include breakpoint($utility-nav-columns) {
		top: 0;
	}

	svg {
		width: 42px;
		height: 42px;
		display: table-cell;
		vertical-align: middle;
		fill: white;
	}
}


a[href*="#info"] {
	@extend %flexbox;
	@include align-items(center);
	@include justify-content(center);
	padding-left: 12px;
	text-transform: capitalize;

	@include breakpoint($utility-nav-columns) {
		border: 2px solid rgba(255, 255, 255, 0.22);
		padding: 12px 0;
	}
}