// --------------------------------------------------------
// Grid
// --------------------------------------------------------

@import "lib/grid";


// --------------------------------------------------------
// Breakpoints
// http://www.youtube.com/watch?v=lR9lK_K8MDE
// https://github.com/Team-Sass/breakpoint/wiki
// --------------------------------------------------------

@import "lib/media-breakpoints";


// --------------------------------------------------------
// Media Query Helper
// Supports:
// min-width, max-width, min-width and max-width
// --------------------------------------------------------

$viewport-increment: 0.1px;
$min: min-width;
$max: max-width;

// Desktop
$desktop: 1024px; // customize to suite
$pre-desktop: $desktop - $viewport-increment;

// Tablet
$tablet: 768px; // customize to suite
$pre-tablet: $tablet - $viewport-increment;

// Palm
$palm: 641px; // customize to suite
$post-palm: $palm + $viewport-increment;


// --------------------------------------------------------
// Container
// --------------------------------------------------------

$container-max-width: 1500px;


// --------------------------------------------------------
// Dimensions
// --------------------------------------------------------

$header-height: 500px;
$comments-caret-width: 25px;


// --------------------------------------------------------
// Colors
// --------------------------------------------------------

// socials svcs.
$twitter: #55ACEE;
$github: black;
$dribbble: #EA4C89;
$facebook: #46629E;
$gplus: #DD4B39;

// palette
$mine-shaft: #2C2B2B;
$chablis: #FFFAFA;
$tundora: #4D4D4D;
$alabaster: #F9F9F9;
$silver-chalice: #A7A1A1;
$guardsman-red: #c80000;
$red: #ff0000;
$electric-violet: #B800FF;

// links
$global-anchor-color: #EB8315;
$global-anchor-color-hover: #AF5C1E;

// backgrounds
$no-feat-bg: #01395F;

// comments
$comment-body-bg: #00649D;
$comment-body-author-bg: #01395F;
$comment-body-author-txt: #B8D4E3;

// code
$code-color: #00BBE3;

// inputs
$inputs-bg: $alabaster;
$search-input-bg: rgba(255, 255, 255, 0.1);
$search-input-color: #61A4C5;
