input:not([type="checkbox"]),
textarea {
    display: block;
    @include appearance(none);
    border: none;
    padding: (12/$typl8-font-base)+rem; //12px;
    resize: none;
    width: 100%;
    background: $inputs-bg;
    color: text-contrast($inputs-bg);

    &:focus {
        outline: none;
        background: rgba(0, 0, 0, 0.08);
    }
}