input,
textarea {
    @include appearance(none);
    border: none;
    padding: (12/$typl8-font-base)+rem; //12px;
    resize: none;
    background: $inputs-bg;
    color: text-contrast($inputs-bg);
}