select {
	border: none;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.17);
	width: 100%;
	display: block;
	@include appearance(none);
	padding: (12/$typl8-font-base)+rem; //12px   
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	select {
		background: #EFEFEF image-url("select-arrow.png") 95% 50% no-repeat;
	}
}