// ================================================================================= //
// $Fonts : 329.95kb
// ================================================================================= //
@font-face{
font-family:"Avenir LT W01_35 Light";
src:url("fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix");
src:url("fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix") format("eot"),url("fonts/4fb9056b-4ac3-488b-9bac-75741b0ff0bd.woff2") format("woff2"),url("fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"),url("fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"),url("fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
}
@font-face{
font-family:"Avenir LT W01_45 Book";
src:url("fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix");
src:url("fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix") format("eot"),url("fonts/9bcb625d-81de-48c2-ba0c-664558d197e3.woff2") format("woff2"),url("fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"),url("fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"),url("fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
}
@font-face{
font-family:"AvenirLTW01-45BookObliq";
src:url("fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?#iefix");
src:url("fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?#iefix") format("eot"),url("fonts/70ed6fd5-9adf-4d08-8b30-514af1de7ca2.woff2") format("woff2"),url("fonts/ca94ed56-18fc-4856-940a-70a072607c7c.woff") format("woff"),url("fonts/dd6da407-70fe-4aa3-a1c7-64f0cb086f01.ttf") format("truetype"),url("fonts/c7f424be-90e1-45b8-b617-ee3589a859bd.svg#c7f424be-90e1-45b8-b617-ee3589a859bd") format("svg");
}
@font-face{
font-family:"Avenir LT W01_65 Medium";
src:url("fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix");
src:url("fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix") format("eot"),url("fonts/e4d36745-a861-4a49-aa17-6510e67429d3.woff2") format("woff2"),url("fonts/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff") format("woff"),url("fonts/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf") format("truetype"),url("fonts/294099f3-8d00-4676-afc5-5e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
}
@font-face{
font-family:"AvenirLTW01-65MediumObl";
src:url("fonts/2a6f81a2-475c-4831-9949-33d7748ee561.eot?#iefix");
src:url("fonts/2a6f81a2-475c-4831-9949-33d7748ee561.eot?#iefix") format("eot"),url("fonts/695a9fa5-9f57-4800-9993-3684d520f107.woff2") format("woff2"),url("fonts/e0af2f49-a399-482b-a54e-d745e268ec80.woff") format("woff"),url("fonts/6803d3dd-2107-45fc-ac8a-a4fa13771547.ttf") format("truetype"),url("fonts/1bb1acb5-8d4e-4800-88af-dbcf1fe96ef8.svg#1bb1acb5-8d4e-4800-88af-dbcf1fe96ef8") format("svg");
}
@font-face{
font-family:"Ciutadella W04 Medium";
src:url("fonts/7bdd0be0-f361-4d36-9e14-05337303f255.eot?#iefix");
src:url("fonts/7bdd0be0-f361-4d36-9e14-05337303f255.eot?#iefix") format("eot"),url("fonts/ed194b8a-64f3-48d2-bddf-92263193203f.woff2") format("woff2"),url("fonts/37b97c80-647a-4123-b7ee-7bd3701ba68a.woff") format("woff"),url("fonts/5a50bc44-892b-4ab3-8b7b-f652b48ee431.ttf") format("truetype"),url("fonts/e232f02f-57b5-48ae-951e-b3117b3d91de.svg#e232f02f-57b5-48ae-951e-b3117b3d91de") format("svg");
}
@font-face{
font-family:"Ciutadella W04 SmBold";
src:url("fonts/829adf53-a18c-4a54-9cd3-dd894a8634a9.eot?#iefix");
src:url("fonts/829adf53-a18c-4a54-9cd3-dd894a8634a9.eot?#iefix") format("eot"),url("fonts/7b38e6b6-d5db-412d-b147-145b5840d624.woff2") format("woff2"),url("fonts/9ed1d093-f7c8-4fe8-965f-be965fe3f50e.woff") format("woff"),url("fonts/0a464e3c-b811-4aa2-b3ef-42877f0913d7.ttf") format("truetype"),url("fonts/bf4747b0-2500-4f42-b2d3-9df1d7175e3e.svg#bf4747b0-2500-4f42-b2d3-9df1d7175e3e") format("svg");
}
@font-face{
font-family:"Ciutadella W04 Bold";
src:url("fonts/74b4dd68-6d32-47cc-84de-23e5a5ed0b33.eot?#iefix");
src:url("fonts/74b4dd68-6d32-47cc-84de-23e5a5ed0b33.eot?#iefix") format("eot"),url("fonts/20db9fd0-d6d6-445c-ae1f-b2a89f76eef7.woff2") format("woff2"),url("fonts/032894d3-2aab-40ca-bbef-651cdc9cd972.woff") format("woff"),url("fonts/dfe36cb7-94ef-477f-981c-25cf8e6a1452.ttf") format("truetype"),url("fonts/9dd50792-6387-4112-9787-40456e7bafbc.svg#9dd50792-6387-4112-9787-40456e7bafbc") format("svg");
}

// ================================================================================= //
// $Setup
// ================================================================================= //
// $Modular Scale
// http://modularscale.com/scale/?px1=18&px2=16&ra1=1.5&ra2=0

// Avenir and Ciutadella via Fonts.com
// font-family:'Avenir LT W01_35 Light';
// font-family:'Avenir LT W01_45 Book';
// font-family:'AvenirLTW01-45BookObliq';
// font-family:'Avenir LT W01_65 Medium';
// font-family:'AvenirLTW01-65MediumObl';
// font-family:'Ciutadella W04 Medium';
// font-family:'Ciutadella W04 SmBold';
// font-family:'Ciutadella W04 Bold';


@for $i from 1 through 6 {
    h#{$i} {
        font-family: 'Ciutadella W04 Bold', "Helvetica Neue", Helvetica, sans-serif;
        .no-js & {
            font-weight: 600;
        }
    }
}



// ================================================================================= //
// $OpenType
// https://github.com/kennethormandy/normalize-opentype.css
// ================================================================================= //

html,
body {
    @each $prefix in $typl8-prefixes {
        #{$prefix}font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
    }
}

h1,
h2,
h3 {
    @each $prefix in $typl8-prefixes {
        #{$prefix}font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
    }
}

abbr {
    @each $prefix in $typl8-prefixes {
        #{$prefix}font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
    }
}

time {
    @each $prefix in $typl8-prefixes {
        #{$prefix}font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
    }
}

pre,
kbd,
samp,
code {
    @each $prefix in $typl8-prefixes {
        #{$prefix}font-feature-settings: "kern" 0, "liga" 0, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
    }
}

sup {
    @each $prefix in $typl8-prefixes {
        #{$prefix}font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
    }
}

sub {
    @each $prefix in $typl8-prefixes {
        #{$prefix}font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
    }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"], {
    @each $prefix in $typl8-prefixes {
        #{$prefix}font-feature-settings: "kern" 0, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
    }
}

table {
    @each $prefix in $typl8-prefixes {
        #{$prefix}font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
    }
}

table thead,
table tfoot {
    @each $prefix in $typl8-prefixes {
        #{$prefix}font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
    }
}



// ================================================================================= //
// $Headings
// ================================================================================= //

#comments-title {
    font-size: medium;
    text-align: center;
}

.comment-notes {
    font-size: initial;
}

.widget-title {
    font-size: initial;
    margin-bottom: (12/$typl8-font-base)+rem; //12px
    padding-right: (12/$typl8-font-base)+rem; //12px;
}

.results-headline {
    font-size: large;
}

.entry__title {
    line-height: 1.2;
}


// ================================================================================= //
// $Atoms
// ================================================================================= //

label {
    font-size: smaller;
}

em {
    font-family:'AvenirLTW01-45BookObliq', "Helvetica Neue", Helvetica, sans-serif;
    font-style: inherit;
}

cite {
    font-family:'Avenir LT W01_35 Light', "Helvetica Neue", Helvetica, sans-serif;
    font-style: inherit;
}

.entry__title a {
    font-family: 'Ciutadella W04 Bold', "Helvetica Neue", Helvetica, sans-serif;

    .no-js & {
        font-weight: 600;
    }
}



// ================================================================================= //
// $Molecules
// ================================================================================= //

#search-form {
    label {
        font-size: initial;
    }
}

.copyright {
    display: block;
    font-family:'Avenir LT W01_35 Light', "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}

.custom-icon {
    width: 50px;
    height: 50px;
    transition: .3s fill ease-in-out;
}
.custom-icon circle {
    fill: #FB7D00;
}
.custom-icon path {
    fill: white !important;
}
.custom-icon:hover path {
    fill: white !important;
}
.custom-icon:hover circle {
    fill: #BB5600;
}